<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AguaAraras.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AguaArarasEntities" connectionString="metadata=res://*/ModelAgua.csdl|res://*/ModelAgua.ssdl|res://*/ModelAgua.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TYGERDELL\SQLEXPRESS;initial catalog=AguaAraras;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MoneyBinEntities" connectionString="metadata=res://*/ModelMoneyBin.csdl|res://*/ModelMoneyBin.ssdl|res://*/ModelMoneyBin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TYGERDELL\SQLEXPRESS;initial catalog=MoneyBin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="reportpath" value="F:\Users\Nelson\Documents\Visual Studio 2015\Projects\AguaAraras\AguaAraras\" />
  </appSettings>
  <applicationSettings>
    <AguaAraras.Properties.Settings>
      <setting name="email" serializeAs="String">
        <value>ararasrede78@gmail.com</value>
      </setting>
      <setting name="smtp" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>qmlyswxmpfvlvwta</value>
      </setting>
      <setting name="timeout" serializeAs="String">
        <value>20000</value>
      </setting>
    </AguaAraras.Properties.Settings>
  </applicationSettings>
</configuration>