<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AguaAraras.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <connectionStrings>
    <add name="AguaAraras" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AguaAraras;Integrated Security=True;"/>
    <add name="MoneyBin" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MoneyBin;Integrated Security=True;"/>
    <add name="CSV" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties='text;HDR=Yes;FMT=Delimited';"/>
  </connectionStrings>
    <appSettings>
    <add key="reportpath" value="F:\Users\Nelson\Documents\Visual Studio 2015\Projects\AguaAraras\AguaAraras\"/>
  </appSettings>
    <applicationSettings>
        <AguaAraras.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value>ararasrede78@gmail.com</value>
            </setting>
            <setting name="smtp" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>qmlyswxmpfvlvwta</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>20000</value>
            </setting>
        </AguaAraras.Properties.Settings>
    </applicationSettings>
</configuration>
